body{
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    min-height: 100vh;
    
}
.container{
    margin-top: 0%;
     background: #1e1e2f;
    border-radius: 15px;
    padding: 3rem;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.container h1{
    text-align: center;
    font-size: 2.2rem;
}
.display-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 0.6rem 0.8rem;
     margin-bottom: 1rem;
     background: #2b2b40;
}

.display-container input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.1rem;
}
.display-container button{
    background: transparent;
    border: none;
    cursor: pointer;
}
.display-container img {
    filter: invert(1);
}

.input-container{
     display: flex;
    flex-direction: column;
    gap: 1rem;
}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.slider{
    width: 100%;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.input-container div input[type="checkbox"] {
    margin-right: 0.5rem;
    accent-color: #667eea;
    font-weight: bold;
}
.strength-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[data-indicator] {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: grey;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    
}

.generateButton{
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 0.8rem;
    font-weight: bold;
    transition: 0.3s;
}
.generateButton:hover{
    background: linear-gradient(135deg, #5a67d8,#6b46c1);
}